<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>cab</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/index_style.css' media="screen and (min-width:768px)">
    <link rel='stylesheet' href='/stylesheets/phone/index_style.css' media="only screen and (max-width:767px)">
  </head>
  <body>
    <header>
      <a href=""><img src="/images/title_logo.png" alt="島あけときます。" class="title_logo"></a>
    </header>
    <div class="main_wrapper">
      <div class="index_top">
        <h1 class="index_title">現在の募集</h1>
        <form action="/come/create" method="GET">
          <button type="submit" class="come_message_button">きてほしい！</button>
        </form>
      </div>
      <%come_messages.map((come_message)=>{%>
      <div class="come_message">
        <div class="come_message_all">
          <div class="come_message_left">
            <p class="come_island_name"><%=come_message.island_name%>島</p>
            <p class="come_name be_green"><%=come_message.name%></p>
            <p class="pass_is">島パスワード</p>
            <p class="pass"><%=come_message.pass%></p>
            <p class="postdate_is">しめきり</p>
            <p class="postdate"><%=come_message.postdate%></p><span class="made">まで</span>
          </div>

          <div class="come_message_right">
            <p class="cab_status">カブの<span class="cab_status_is"><%=come_message.cab_status%></span></p>
            <img src="/images/<%=come_message.fruit%>.png" alt="<%=come_message.fruit%>" class="image">
            <p class="cab_bell"><%=come_message.cab_bell%><span class="bell">ベル</span></p>
            <p class="want_is">ほしい！</p>
            <p class="want_dummy"></p>
            <p class="want"><%=come_message.want%></p>
          </div>
        </div>
      </div>
      <!-- <form action="/come/delete/<%=come_message.id%>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="削除">
      </form> -->
    <div class="go_message_all">
    <%come_message.go_messages.map((go_message)=>{%>
      
      <div class="go_message">
        <div class="go_message_info">
          <!-- <img src="/images/reply_arrow.png" alt="reply_arrow" class="reply_arrow"> -->
          <p class="go_message_imfrom"><%=go_message.island_name%>島の<span class="be_green"><%=go_message.name%></span></p>
          <form action="/go/delete/<%=go_message.id%>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="go_message_delete">けす</button>
          </form>
        </div>
        <p class="go_message_memo"><%=go_message.memo%></p>
        <br>
        <br>
      </div>
    <%})%>
    </div>
    <form action="/go/create/<%=come_message.id%>" method="GET" class="go_message_button_wrap">
      <button type="submit" class="go_message_button">いきたい！</button>
    </form>
    <%})%>
    </div>
    <footer>
      <p class="copyright"><a href="">りようきやく</a></p>
      <p>(c)2020：GDPカンスト島の<span class="be_green">まじょがり</span></p>
      <a href="https://twitter.com/tititititits"><img src="/images/twitter.svg" alt="twitter" class="twitter"></a>
      <a href="https://github.com/FukeTakumi"><img src="/images/github.svg" alt="github" class="github"></a>
    </footer>
    <a href=""><img src="/images/update.png" alt="更新" id="update_button"></a>
    <script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>
    <script src="/javascripts/index_script.js"></script>
  </body>
</html>
